login_registration/src/main/mule/process.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:validation="http://www.mulesoft.org/schema/mule/validation" xmlns:db="http://www.mulesoft.org/schema/mule/db"
	xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd
http://www.mulesoft.org/schema/mule/validation http://www.mulesoft.org/schema/mule/validation/current/mule-validation.xsd">
	<flow name="Get_main_page" doc:id="cdffb34c-8d4c-4d9d-97bf-12651540d956" >
		<http:listener doc:name="GET /login" doc:id="ed3e4fb4-2828-42fb-a743-b63d6a8b63f5" config-ref="HTTP_Listener_config" path="/login" allowedMethods="GET"/>
		<parse-template doc:name="index.html" doc:id="2a6d803e-8d3e-46c5-8b7a-3826952d2be8" location="D:\AnypointStudioWorkspace\forGIT\login_registration\src\main\resources\login\index.html"/>
	</flow>
	<flow name="Get_registration_page" doc:id="65cd90d9-3b04-45b8-a39a-06c2bc9c79e8" >
		<http:listener doc:name="GET /registration" doc:id="383edbaa-eadb-43b1-9d8f-8641d6ec9869" config-ref="HTTP_Listener_config" path="/registration" allowedMethods="GET"/>
		<parse-template doc:name="registration.html" doc:id="bc8c1585-d873-43a7-b1ac-111dd16005d0" location="D:\AnypointStudioWorkspace\forGIT\login_registration\src\main\resources\registration\registration.html"/>
	</flow>
	<flow name="login" doc:id="7d3247f8-7e8b-4b64-b319-1d612140669b" >
		<http:listener doc:name="POST /login" doc:id="32c49bc4-2e01-415d-8178-2b65f69b8757" config-ref="HTTP_Listener_config" path="/login" allowedMethods="POST"/>
		<ee:transform doc:name="writeCredentialstoVar" doc:id="abb45c4a-1ef5-43cf-a51c-2d2e7c54f9b3" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-payload>
			</ee:message>
			<ee:variables >
				<ee:set-variable variableName="credentials" ><![CDATA[%dw 2.0
output application/json
---
{
	"username": payload.username,
	"password": payload.password		
}]]></ee:set-variable>
			</ee:variables>
		</ee:transform>
		<flow-ref doc:name="validate input" doc:id="fc079398-84d5-4a78-8b34-e65c2032644b" name="validateInput"/>
		<flow-ref doc:name="selectFromDatabase" doc:id="cf8061ed-7295-450d-a5ce-bae210bf1e49" name="selectFromDatabase"/>
		<flow-ref doc:name="showLastPage" doc:id="33617651-df7d-4b54-9cc8-c916cfb6eff2" name="showLastPage"/>
	</flow>
	<flow name="validateInput" doc:id="74d1b19f-8448-4266-97ac-7d13f5b33c21" >
		<try doc:name="Try" doc:id="6042ce01-9afc-41c0-8a5d-39e2f8e5bb59" >
			<validation:is-not-blank-string doc:name="username is not blank" doc:id="f9d2d82c-b865-4e1c-8650-358fd40387b3" value="#[vars.credentials.username]"/>
			<validation:is-not-blank-string doc:name="password is not blank" doc:id="dfec4141-38cc-47bb-9c56-e1064209174c" value="#[vars.credentials.password]"/>
			<error-handler >
				<on-error-propagate enableNotifications="true" logException="true" doc:name="On Error Propagate" doc:id="7e1ae98e-121b-429f-a643-6cd29d4848e0" type="ANY">
					<parse-template doc:name="Invalid Credentials" doc:id="a0e91af5-5f66-4de6-9237-05118ef0ee65" location="D:\AnypointStudioWorkspace\forGIT\login_registration\src\main\resources\login\loginFailure.html" />
				</on-error-propagate>
			</error-handler>
		</try>
	</flow>
	<flow name="registration" doc:id="14e289ea-b960-404d-80fc-869a8240304a" >
		<http:listener doc:name="POST /registration" doc:id="d8172392-8767-401f-9181-df91031f894f" config-ref="HTTP_Listener_config" path="/registration" allowedMethods="POST"/>
		<ee:transform doc:name="writeCredentialsTovar" doc:id="a7c420aa-cba0-41f6-bf31-84a0c27a99ab" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
	"username": payload.username,
	"password": payload.password
}]]></ee:set-payload>
			</ee:message>
			<ee:variables >
				<ee:set-variable variableName="registrationCredentials" ><![CDATA[%dw 2.0
output application/json
---
{
	"username": payload.username,
	"password": payload.password
}]]></ee:set-variable>
			</ee:variables>
		</ee:transform>
		<flow-ref doc:name="checkCredentialsRegistrationAndWriteThemWhenSuccess" doc:id="07c6c9bf-2c64-454e-b532-12bfe8011ad3" name="checkCredentialsRegistration"/>
	</flow>
	<flow name="checkIfTheSuchUserIsAlreadyexistsInDB" doc:id="ab63d23d-f6a1-4c72-9495-8da1dbeaac6b" >
		<db:select doc:name="SelectUserFromDB" doc:id="99e91ea5-7ca5-4c19-b911-51223f22e420" config-ref="Database_Config">
			<db:sql >select * from login where username= :username</db:sql>
			<db:input-parameters ><![CDATA[#[{username: payload.username}]]]></db:input-parameters>
		</db:select>
		<try doc:name="Try" doc:id="1878e2a9-4fdd-423f-ab6e-b2934f69d944" >
			<validation:is-empty-collection doc:name="Is empty collection" doc:id="b9315388-313a-4ade-8668-77541253eefa" />
			<error-handler >
				<on-error-propagate enableNotifications="true" logException="true" doc:name="On Error Propagate" doc:id="7b0a6beb-c1e2-48f7-9155-677b20ce1af3" >
					<parse-template doc:name="SuchUserIsAlreadyExists" doc:id="d928d9e5-2a61-4eef-b89b-22b5c0482fbd" location="D:\AnypointStudioWorkspace\forGIT\login_registration\src\main\resources\registration\registrationFailure.html" />
				</on-error-propagate>
			</error-handler>
		</try>
	</flow>
	<flow name="loginAfterRegistration" doc:id="e00cc69d-35d3-4395-8252-12c4a3f1af3a" >
		<http:request method="GET" doc:name="Request" doc:id="c298315f-c111-404d-9427-b5b9dbc95dd6" url="${redirect.login}"/>
	</flow>
	<flow name="checkCredentialsRegistration" doc:id="b63d24b0-e914-4d59-b8eb-8c9831253ce7" >
		<choice doc:name="Choice" doc:id="2d49df54-9b69-49b2-a479-55c309a1a492" >
			<when expression="#[sizeOf(vars.registrationCredentials.username) == 0 or sizeOf(vars.registrationCredentials.password) == 0]">
				<parse-template doc:name="Invalid Data " doc:id="2877a69f-bf51-4aef-b3cc-3f4580aa8f47" location="D:\AnypointStudioWorkspace\forGIT\login_registration\src\main\resources\registration\registrationFailure.html" />
			</when>
			<otherwise >
				<try doc:name="Try" doc:id="3907f03b-1afe-4f22-a2df-b5c33a0a6525" >
					<db:insert doc:name="InsertNewUser" doc:id="a85a1cf1-27fa-45a6-a226-733b6334a96a" config-ref="Database_Config">
					<db:sql>insert into login(username, password) values(:username, :password)</db:sql>
					<db:input-parameters><![CDATA[#[{username: vars.registrationCredentials.username, password: vars.registrationCredentials.password}]]]></db:input-parameters>
				</db:insert>
					<http:request method="GET" doc:name="main login page" doc:id="22be156d-09ad-43ff-81f6-cd8a1334a890" url="${redirect.login}"/>
					<error-handler >
						<on-error-propagate enableNotifications="true" logException="true" doc:name="On Error Propagate" doc:id="836bba50-0bbc-477f-a731-d931543e69dc" >
							<parse-template doc:name="SuchUserIsAlreadyExists" doc:id="9192b7f2-8bcd-4082-9c5c-f473e37eaf32" location="D:\AnypointStudioWorkspace\forGIT\login_registration\src\main\resources\registration\registrationFailure.html" />
						</on-error-propagate>
					</error-handler>
				</try>
			</otherwise>
		</choice>
	</flow>
	<flow name="showLastPage" doc:id="768e84d6-c0e0-40ff-b7f1-cb7a1f5d6633" >
		<try doc:name="Try" doc:id="cc2751da-88a5-49ea-9b32-a7b020e352a8" >
			<validation:is-not-empty-collection doc:name="Is not empty collection" doc:id="8524a61d-44e8-4057-9b99-6c778e19d603" />
			<error-handler >
				<on-error-propagate enableNotifications="true" logException="true" doc:name="On Error Propagate" doc:id="201551f6-26db-454f-916f-3aafb30375c1" type="ANY">
					<parse-template doc:name="Invalid Credentials" doc:id="440cc634-0bc9-48f6-a81c-b48a8dbec95a" location="D:\AnypointStudioWorkspace\forGIT\login_registration\src\main\resources\login\loginFailure.html" />
				</on-error-propagate>
			</error-handler>
		</try>
		<parse-template doc:name="showSuccessPage" doc:id="5e149346-bb94-42ae-a787-e9897e388875" location="D:\AnypointStudioWorkspace\forGIT\login_registration\src\main\resources\login\loginSuccessful.html" />
	</flow>
	<flow name="selectFromDatabase" doc:id="7c45ea66-3c32-4da5-a737-8c4e38cc3e60" >
		<try doc:name="Try" doc:id="ba89561b-db1e-4767-8de3-4460496d36c8">
					<db:select doc:name="checkCredentials" doc:id="abfe5c75-798c-470d-b27a-1c09632c30e7" config-ref="Database_Config">
					<db:sql>select username, password from login where username=:username and password=:password</db:sql>
					<db:input-parameters><![CDATA[#[{username: vars.credentials.username, password: vars.credentials.password}]]]></db:input-parameters>
				</db:select>
					<error-handler>
				<on-error-propagate enableNotifications="true" logException="true" doc:name="On Error Propagate" doc:id="07477c54-b8ef-4659-8bbe-6766d64c59c5" type="ANY">
					<parse-template doc:name="Invalid Credentials" doc:id="06452cf1-ef09-43e8-b004-22a58940bc24" location="D:\AnypointStudioWorkspace\forGIT\login_registration\src\main\resources\login\loginFailure.html" />
				</on-error-propagate>
					</error-handler>
				</try>
	</flow>
</mule>
