shop/src/main/mule/send_xml.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns:file="http://www.mulesoft.org/schema/mule/file"
	xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd 
http://www.mulesoft.org/schema/mule/file http://www.mulesoft.org/schema/mule/file/current/mule-file.xsd 
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd">
	
	<flow name="sendXML" doc:id="b7d3faa4-dce9-470d-81b8-718100720b29" >
		<http:listener doc:name="POST /xml" doc:id="77bd3c16-f6b5-4a04-aa36-508c1d937141" config-ref="HTTP_Listener_config" path="/xml" allowedMethods="POST"/>
		<ee:transform doc:name="JSON to XML" doc:id="0051c6a3-a509-4b30-92df-8f4060168735" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/xml
---
orders : {
	(payload map (value) -> {
		order @(id: value.id): value
	})
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<file:write doc:name="Write to XML" doc:id="f6c9d17c-5f44-4a35-b23b-3c1bf67bf02d" path="#[&quot;$(p('filePath.output_xml'))/output_$(now() as String {format: 'yyyy-MM-dd-HH.mm.SS'})_&quot; ++ attributes.headers.filename ++ &quot;.xml&quot;]">
			<file:content ><![CDATA[#[output application/xml --- payload]]]></file:content>
		</file:write>
	</flow>
	
</mule>
