send_mail/src/main/mule/send_mail.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:email="http://www.mulesoft.org/schema/mule/email" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/email http://www.mulesoft.org/schema/mule/email/current/mule-email.xsd">
	<flow name="getMainPage" doc:id="dd3fbd1c-3199-4576-86c9-adb311233d5c" >
		<parse-template doc:name="main.html" doc:id="c46425a9-9930-487b-bc9b-76ea2cee3745" location="D:\AnypointStudioWorkspace\send_mail\src\main\resources\pages\main.html"/>
	</flow>
	<flow name="processingRequestAndSendMessageToEmail" doc:id="22107920-b5f8-41db-b557-cd20618a0650" >
		<ee:transform doc:name="Transform to JSON" doc:id="b0e802ec-1880-4a89-9171-6ac487dc066f" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
	"to": payload.to,
	"message": payload.message
}]]></ee:set-payload>
			</ee:message>
			<ee:variables >
				<ee:set-variable variableName="info" ><![CDATA[%dw 2.0
output application/json
---
{
	"to": payload.to as String,
	"message": payload.message
}]]></ee:set-variable>
			</ee:variables>
		</ee:transform>
		<email:send doc:name="Send Message" doc:id="feb7838f-4bfe-4274-b840-36c228a8aefe" config-ref="Email_SMTP" subject='#["Test mulesoft"]' fromAddress="${mail.user}">
			<email:to-addresses >
				<email:to-address value="#[payload.to]" />
			</email:to-addresses>
			<email:body contentType="text/plain">
				<email:content ><![CDATA[#[payload.message]]]></email:content>
			</email:body>
		</email:send>
		<parse-template doc:name="Show successful page" doc:id="40945a1a-d74c-4950-ba0c-efbd9808b923" location="D:\AnypointStudioWorkspace\send_mail\src\main\resources\pages\successfully_sent.html"/>
	</flow>
</mule>
