mule_with_aws/src/main/mule/mule_with_aws.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:validation="http://www.mulesoft.org/schema/mule/validation" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns:batch="http://www.mulesoft.org/schema/mule/batch"
	xmlns:file="http://www.mulesoft.org/schema/mule/file" xmlns:s3="http://www.mulesoft.org/schema/mule/s3" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/s3 http://www.mulesoft.org/schema/mule/s3/current/mule-s3.xsd
http://www.mulesoft.org/schema/mule/file http://www.mulesoft.org/schema/mule/file/current/mule-file.xsd
http://www.mulesoft.org/schema/mule/batch http://www.mulesoft.org/schema/mule/batch/current/mule-batch.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/validation http://www.mulesoft.org/schema/mule/validation/current/mule-validation.xsd">
	<flow name="sendDataToS3Bucket" doc:id="ca373cdb-ae34-4779-9040-0b03d7b25972" >
		<file:list doc:name="List" doc:id="17bdc9b7-ea20-463c-aec1-9ca4ece3c8b4" directoryPath="${path.in}"/>
		<foreach doc:name="For Each" doc:id="0362f4fe-f4f9-4a19-a87b-3f6c14ca81dc" >
			<s3:create-object doc:name="Insert into AWS" doc:id="7873b5f6-4578-4405-9567-c62c2488717b" config-ref="Amazon_S3_Configuration" bucketName="${s3.bucketName}" key="#[attributes.fileName]" acl="PUBLIC_READ">
			</s3:create-object>
		</foreach>
		<set-payload value="Your data has successfully inserted into AWS S3 bucket" doc:name="Set Payload" doc:id="1e06e6dc-7d89-4d5b-b67c-d4bb480460dc" />
	</flow>
</mule>
